window {
  background-color: #222222;
  border-radius: 8px 8px 0 0;
}

window :first-child {
  border-radius: 8px 0 0 0;
}

window :last-child {
  border-radius: 0 8px 0 0;
}

window :only-child {
  border-radius: 8px 8px 0 0;
}

window * {
  border-radius: 0 0 0 0;
}