* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 2px;
  text-shadow: none;
  transition: none;
}

window#waybar {
  background: #282828;
}

window#waybar.hidden {
  opacity: 0.98;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-bluetooth,
#custom-launcher,
#custom-updates,
#custom-calc,
#memory,
#mpris,
#network,
#pulseaudio,
#taskbar,
#tray,
#workspaces {
  font-family: Inconsolata LGC Nerd Font;
  font-size: 10;
  color: #282828;
  margin: 0 6px;
}

/* ======================================================== */
/* workspaces module */
/* ======================================================== */

#workspaces button {
  color: #ebdbb2;
  border-radius: 0;
  margin-right: 1px;
  margin-left: 1px;
  padding: 0 2px;
}

#workspaces button.focused {
  color: #dfaf11;
  border-radius: 0;
  margin-right: 1px;
  margin-left: 1px;
  padding: 0 2px;
}

#workspaces button:hover {
  color: #79740e;
}

#workspaces button.active {
  background: #b8bb26;
  color: #282828;
}

#workspaces button.urgent {
  background: #ea6962;
}

/* ======================================================== */
/* window */
/* ======================================================== */
#window {
  color: #282828;
  background: #dfaf11;
  border-radius: 0;
  margin-left: 6px;
  margin-right: 6px;
  padding: 3px 6px;
  border-bottom-color: #dfaf11;
}

window#waybar.empty #window {
  margin: 0;
  padding: 0;
  background: transparent;
  color: transparent;
  border-bottom: none;
}

/* ======================================================== */
/* Network module */
/* ======================================================== */
#network {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

#network.disconnected {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* Audio module */
/* ======================================================== */
#pulseaudio{
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

#pulseaudio.muted {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* cpu */
/* ======================================================== */
#cpu {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* memory */
/* ======================================================== */
#memory {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* backlight */
/* ======================================================== */
#backlight {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* battery */
/* ======================================================== */
#battery {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

#battery.charging, #battery.plugged {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

#battery.critical:not(.charging) {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* clock */
/* ======================================================== */
#clock {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* tray */
/* ======================================================== */
#tray {
  padding: 3px 7px;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* custom-launcher */
/* ======================================================== */
#custom-launcher {
  color: #dfaf11;
  font-size: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* custom-calculator*/
/* ======================================================== */

#custom-calc{
  color: #dfaf11;
  font-size: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom-color: #dfaf11;
}
/* ======================================================== */
/* custom-bluetooth */
/* ======================================================== */
#custom-bluetooth {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* custom-updates */
/* ======================================================== */
#custom-updates {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* Media player */
/* ======================================================== */
#mpris {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

#mpris:hover {
  color: #dfaf11;
  border-bottom-color: #dfaf11;
}

/* ======================================================== */
/* Taskbar */
/* ======================================================== */
#taskbar {
  padding: 0;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom: none;
}

#taskbar button {
  background: transparent;
  border: none;
  border-radius: 0;
  margin: 0 1px;
  padding: 0 2px;
  color: #ebdbb2;
  border-bottom: 2px solid #928374;
}

#taskbar button.active {
  border-bottom-color: #b8bb26;
}

#taskbar button:hover {
  border-bottom-color: #79740e;
}

#taskbar button.urgent {
  border-bottom-color: #fb4934;
}

#mode {
  font-family: Inconsolata LGC Nerd Font;
  font-size: 12;
  color: #282828;
	background: #fb4934;
  padding: 0 5px;
  border-bottom: 2px solid;
}
